body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
    font-family: 'Rubik Mono One', sans-serif;
}

nav{
   position: absolute;
   top: auto;
   right: 15px;
}

ul{
    list-style: none;
}

ul li{
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: green;
    text-align: center;   
}

ul li a{
    text-decoration: none;
    color: black;
}


