body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
    font-family: 'Rubik Mono One', sans-serif;
    overflow: hidden;
}

nav{
    position: fixed;
    margin-left: 80%;
    z-index: 2;
}

ul{
    list-style: none;
}

ul li{
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    text-align: center;   
}

ul li a{
    text-decoration: none;
    color: black;
}

#shoes-1{
    height: 100vh;
    width: 100vw;
    background-color: red;
    position: relative;
}

#shoes-2{
    height: 100vh;
    width: 100vw;
    background-color: green;
    position: relative;
}

#shoes-3{
    height: 100vh;
    width: 100vw;
    background-color: yellow;
    position: relative;
}

img{
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text{
    font-size: 35px;
    padding-top: 180px;
    text-align: center;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.color1{
    color: yellow;
}

.color2{
    color: green;
}